/*
 * Editor content
 */

.c-editor-content {
  white-space: pre-wrap;
}

.c-editor-content * {
  max-width: 100%;
}

.c-editor-content img,
.c-editor-content video,
.c-editor-content table {
  display: block;
  margin: 0 auto;
  margin-bottom: var(--s-base);
}
